body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    /* /* background-color: skyblue; */
    background-image: url("background-img (copy).png");
    background-repeat: no-repeat;
    background-size: cover;

}

/* Basic modal styling */
.modal {
    display: none;
    /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Transparent dark background */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Modal content box */
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

/* Close button style */
.close-button {
    float: right;
    cursor: pointer;
    font-size: 20px;
}